.head{
    width: 100%;
    height:400px;
    background-image: url("th2.jpg");
    border: black solid;
}
#logo{
    width:30%;
    height:350px;
    display:inline-block;
    position:relative;
    top:20px;
    left:20px;
}
#name{
    width:50%;
    display:inline-block;
    position:absolute;
    top:100px;
    left:450px;
}
.aside-div{
    width:30%;
    display: inline-block;
    border: black solid;
    padding-top: 105px;
    padding-bottom: 15px;
    text-align: center;
    font-size: larger;
    overflow: hidden;
}
.introduction{
    width:68%;
    height:275px;
    display: inline-block;
    margin-top: 10px;
    border: black dashed;
    padding-left:10px;
    overflow: hidden;
    overflow-y: scroll;
}
.effect:active{
    color:red;
}
*{
    font-family:'Open Sans';
}