.head{
    width: 100%;
    height:400px;
    background-image: url("th2.jpg");
    border: black solid;
}
#logo{
    width:30%;
    height:350px;
    display:inline-block;
    position:relative;
    top:20px;
    left:20px;
}
#name{
    width:50%;
    display:inline-block;
    position:absolute;
    top:100px;
    left:450px;
}
.main{
    border:black solid;
}
.address{
    width:70%;
    display:inline-block;
    text-align: center;
    margin-left: 170px;
    margin-bottom: 50px;
    padding-bottom: 10px;
    background-color: goldenrod;
}
*{
    font-family:'Open Sans';
}