.head{
    width: 100%;
    height:400px;
    background-image: url("th2.jpg");
    border: black solid;
}
#logo{
    width:30%;
    height:350px;
    display:inline-block;
    position:relative;
    top:20px;
    left:20px;
}
#name{
    width:50%;
    display:inline-block;
    position:absolute;
    top:100px;
    left:450px;
}
.main{
    border:black solid;
}
.content{
    width:68%;
    display:inline-block;
    padding-left:10px;
    padding-right:10px;
}
.image{
    width:30%;
    display:inline-block;
    padding-top: 10px;
}
*{
    font-family:'Open Sans';
}