*{
    box-sizing:border-box;
}
header{
    width:100%;
    height:50px;
    border: 1px #000000 solid;
}
.name{
    width:38%;
    display:inline-block;
}
.nav-area, .log-in, nav{
    width:30%;
    display:inline-block;
}

ul li{
    list-style: none;
    text-align:center;
    float:left;
    border: 1px #000000 solid;
    line-height:45px;
    font-size:20px;
    padding-left:10px;
    padding-right:10px;
    background-color: #ffff;
    cursor: pointer;
}
nav ul li:hover{
    background-color: #0000ff;
    color:#ffff;
}
.name, .log-in{
    padding-left:15%;
    padding-bottom: 10px;
    vertical-align: top;
    padding-top:10px;
}
strong{
    font-size: x-large;
    font-weight: bolder;
}
.login{
    font-size:larger;
}
.name{
    padding-left:10%;
}
.log-in{
    margin-top:5px;
}
header{
    background-color: rgb(148, 148, 148);
}
.container{
    width:1200px;
    height:1220px;
    border:1px#000000 solid;
    margin:auto;
}
.about{
    width:90%;
    height:25%;
    border:1px #000000 solid;
    margin:auto;
    margin-top:30px;
    margin-bottom: 15px;
}
h1{
    font-size: 10ex;
    font-weight: bold;
    text-align: center;
    margin:auto;
    margin-top:40px;
}
span{
    font-size: 1.5em;
    text-align: center;
    display:block;
    margin:auto;
    padding-top:20px;
}
.select{
    display:block;
    margin:auto;
    text-align: center;
    margin-top:70px;
    margin-bottom:10px;
}
.details{
    width:80%;
    height:50%;
    border:1px #000000 solid;
    margin:auto;
    margin-top:20px;
}
.services{
    width:65%;
    height:100%;
    display:inline-block;
    border-right:1px #000000 solid;
}
h2{
    font-size:2em;
    padding-left:10px;
}
.services-offered{
    width:45%;
    height:45%;
    display:inline-block;
    padding:10px;
    padding-top:20px;
}
.image{
    width:40%;
    height:100%;
    display:inline-block;
    vertical-align: top;
}
.content{
    width:58%;
    height:100%;
    display:inline-block;
    line-height:12px;
}
h4{
    font-size:1em;
    font-weight:bold;
    margin-bottom: 20px;
}
.events{
    width:32%;
    height:100%;
    display:inline-block;
    vertical-align:top;
    padding-left:10px;
}
button{
    display:block;
    margin:auto;
    background-color: rgb(107, 106, 106);
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    margin-top:10px;
    font-weight:bold;
}
h3{
    font-size:2em;
    font-weight: bolder;
    text-align: center;
    padding:10px;
    margin-bottom:20px;
    margin-top:10px;
}
p{
    line-height:30px;
}
.p-events:hover{
    background-color: #bdbdf3;
}
.links{
    width:95%;
    height: 20%;
    margin:auto;
    padding-left:120px;
    padding-top:10px;
}

.about-us,.markets,.platforms,.contact-us{
    width:24%;
    height:80%;
    display:inline-block;
    line-height:30px;
}
.contact-us{
    vertical-align: top;
}
.default-links{
    padding:10px;
    width:92%;
    border-top:1px #000000 solid;
    border-bottom: 1px #000000 solid;
    margin-bottom: 10px;
    margin-top:0px;
    vertical-align: top;
}
.d-links{
    width:70%;
    display:inline-block;
}
.global-site{
    width:25%;
    display:inline-block;
    padding-left:80px;
}
#gs{
    border-radius: 20px;
    background-color: rgb(165, 159, 159);
}
#dl{
    padding:10px;
}
.main-section{
    border:1px #000000 solid;
    padding-bottom: 20px;
    background-color: rgb(182, 180, 180);
}
.about, .details{
    background-color: #ffffff;
}