.container{
    width:1000px;
    height:600px;
    margin:auto;
    border:1px black solid;
}
.aside-div{
    height:100%;
    background-color: navy;
    width:28%;
    display:inline-block;
    overflow:hidden;
}
.articles{
    width:69.0%;
    height:100%;
    margin-top:0;
    display: inline-block;
    overflow:hidden;
}
.article-1{
    width:100%;
    height:48%;
    display: inline-block;
}
.article-2{
    width:100%;
    height:48%;
    display: inline-block;
}
#side{
    color:white;
}
#side-button1{
    color: white;
    background-color:navy;
    margin-left: 40%;
}
#side-button2{
    color: white;
    background-color:navy;
}
.image{
    border-radius: 35px;
}