*{
    box-sizing: border-box;
}
.container{
    width:1000px;
    height:300px;
    border: #000000 solid;
    margin:auto;
}
.site{
    width:100%;
    height:15.5%;
    font-size: 2em;
    font-weight: bolder;
    background-color: rgb(129, 194, 247);
    padding-left:20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main{
    width:100%;
    height:84%;
    background-color: #cd5c5c;
}
.title-section{
    width:75%;
    height:100%;
    display:inline-block;
    background-color: rgb(10, 187, 10);
}
.title{
    width:96.2%;
    height:40%;
    display:inline-block;
    background-color: #ffffff;
    margin:10px;
    padding-top: 8px;
}
.module{
    width:24.5%;
    height:100%;
    display:inline-block;
    background-color: #cd5c5c;
    vertical-align: top;
    padding-top:8px;
}
strong{
    font-size: x-large;
    font-weight: bolder;
    padding:10px;
}
p{
    padding-left:10px;
    padding-top:10px;
}