*{
    box-sizing: border-box;
}
.nav-container{
    width:1000px;
    height:70px;
    margin:auto;
}
.nav-area{
    width:100%;
    display:inline-block;
    margin-top:10px;
    margin-left:9%;
}

ul li{
    list-style: none;
    text-align:center;
    float:left;
    border: 1px #000000 solid;
    line-height:45px;
    font-size:20px;
    padding-left:10%;
    padding-right:10%;
    background-color: #ffff;
    cursor: pointer;
}
nav ul li:hover{
    background-color: #0000ff;
    color:#ffff;
}
.container{
    width:900px;
    height:330px;
    margin:auto;
    border: 1px #000000 solid;
}

table,tr,th{
    border:1px #000000 solid;
}
table{
    margin:10px;
}
th{
    width:40%;
    height:20%
}
h3{
    font-weight: bolder;
    padding-top:10px;
    padding-bottom: 10px;
}
.amount-to-be-paid{
    display:block;
    border: 1px #000000 solid;
    width:90%;
    height:20%;
    margin:auto;
    margin-top: 10px;
}
label{
    font-size: larger;
    font-weight: bolder;
}
#submitBtn{
    margin:10px;
    padding-left:20px;
    padding-right: 20px;
    border-radius: 15px;
}