*{
    box-sizing: border-box;
}
.nav-container{
    width:1000px;
    height:70px;
    margin:auto;
}
.nav-area{
    width:100%;
    display:inline-block;
    margin-top:10px;
    margin-left:9%;
}

ul li{
    list-style: none;
    text-align:center;
    float:left;
    border: 1px #000000 solid;
    line-height:45px;
    font-size:20px;
    padding-left:10%;
    padding-right:10%;
    background-color: #ffff;
    cursor: pointer;
}
nav ul li:hover{
    background-color: #0000ff;
    color:#ffff;
}
.container{
    width:900px;
    height:340px;
    margin:auto;
    border: 1px #000000 solid;
}
h1{
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    color:#0000ff;
}
.confirm{
    margin-top:10px;
}

.confirmation-details,.seat-no,.ticket-booking{
    display:block;
    width:95%;
    height:25%;
    border:1px #000000 solid;
    margin:auto;
    margin-top:10px;
    margin-bottom: 10px;
}
label{
    font-size: larger;
    font-weight: bolder;
    padding:10px;
}
#clickMe{
    padding-left:10px;
    padding-right:10px;
    display:block;
    border-radius: 15px;
    margin-left:10px;
    margin-top:10px;
}