*{
    box-sizing: border-box;
}
.nav-container{
    width:1000px;
    height:70px;
    margin:auto;
}
.nav-area{
    width:100%;
    display:inline-block;
    margin-top:10px;
    margin-left:9%;
}

ul li{
    list-style: none;
    text-align:center;
    float:left;
    border: 1px #000000 solid;
    line-height:45px;
    font-size:20px;
    padding-left:10%;
    padding-right:10%;
    background-color: #ffff;
    cursor: pointer;
}
nav ul li:hover{
    background-color: #0000ff;
    color:#ffff;
}
.container{
    width:900px;
    height:500px;
    margin:auto;
}
.input-details{
    display:block;
    text-align: center;
}
.bus{
    width:100%;
    height:90%;
    border:2px #000000 solid;
    margin-top:20px;
}
.right-window-seats,.right-seats,.left-seats,.left-window-seats{
    width:100%;
    height:15%;
    display:inline-block;
    margin-top:20px;
}
.right-window-1,.right-window-2,.right-window-3,.right-window-4,.right-window-5,
.right-1,.right-2,.right-3,.right-4,.right-5,
.left-1,.left-2,.left-3,.left-4,.left-5,
.left-window-1,.left-window-2,.left-window-3,.left-window-4,.left-window-5{
    width:15%;
    height:90%;
    display:inline-block;
    border:1px #000000 solid;
    margin:5px;
    margin-left:30px;
    cursor: pointer;
    background-color: #008000;
}
.left-seats{
    margin-top:80px;
}
