*{
    box-sizing: border-box;
}
.container{
    width:1000px;
    height:330px;
    border: #000000 solid;
    margin:auto;
}
.head-section{
    width:100%;
    height:15%;
    background-color: #00ffff;
    padding-left:20%;
}
.head ul li{
    list-style: none;
}
.head ul li{
    background-color: #00ffff;
    width:150px;
    height:50px%;
    line-height:50px;
    text-align:center;
    float:left;
    font-size:20px;
    color:#00ff;
}
.head ul li:hover{
    color: #ff0000;
}
.head ul ul{
    display:none;
}
.head ul li:hover ul{
    display: block;
}
.main{
    width:100%;
    height:85%;
    background-color: #8a2be2;
}
.image{
    width:30%;
    display:inline-block;
    vertical-align: top;
}
.content{
    width:68%;
    display:inline-block;
    font-size: larger;
    color:#ffff;
}
.rest-part{
    font-size: larger;
    color:#ffff;
}
