.container{
    width:90%;
    height:420px;
    margin:auto;
    border:black solid;
    background-color: gray;
}
#box{
    background-color: white;
}
.one{
    width:96%;
    height:50px;
    display:inline-block;
    border:black solid;
    margin:10px;
    margin-left:28px;
}
.two,.three,.four,.five{
    width:21%;
    height:50px;
    display:inline-block;
    border:black solid;
    margin:10px;
    margin-left:28px;
}
.middle{
    width:98%;
    height:120px;
    display:inline-block;
    margin:10px;
    margin-left:28px;
}
.six{
    width:46.9%;
    height:100%;
    border:black solid;
    display:inline-block;
    padding-top:6px;
    padding-bottom:18px;
}
.grid{
    width:52%;
    height:100%;
    display:inline-block;
}
.seven,.eight,.nine,.ten{
    width: 41%;
    height:45%;
    border:black solid;
    display:inline-block;
    margin:10px;
    margin-left:34px;
}
.eleven{
    width:96%;
    height:50px;
    display:inline-block;
    border:black solid;
    margin-top:20px;
    margin-left:28px;
}
.four{
    margin-left:25px;
}
