*{
    box-sizing: border-box;
}
.container{
    width:1000px;
    height:560px;
    border:1px #000000 solid;
    margin:auto;
}
h1{
    font-size: 3em;
    font-weight: bolder;
    font-family: fantasy;
    text-align: center;
    color:#ff0000;
    margin-top:10px;
    margin-bottom: 10px;
}
h2{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top:5px;
    margin-bottom: 5px;
}

.play-area{
    width:90%;
    border:2px #000000 solid;
    margin:auto;
}
.circle, .rectangle, .square, .triangle, .flower, .cloud, .tree, .crow{
    width:23%;
    display:inline-block;
    border: 3px #000000 solid;
    margin:7px;
}