*{
    box-sizing: border-box;
}
.container{
    width:700px;
    border:1px #000000 solid;
    margin:auto;
}
h1{
    font-size: 3em;
    font-weight: bolder;
    color:#0000ff;
    text-align: center;
}
fieldset{
    border:1px #000000 solid;
    margin:10px;
}
.form-area{
    margin:10px;
}
.form-label,.form-input,#make,#model,#color{
    margin:5px;
}