*{
    box-sizing:border-box;
}
.container-main{
    width: 1000px;
    margin: auto;
    border: 1px #000000 solid;
    padding:10px;
}
.image1{
    width:40%;
    display:inline-block;
    padding-left:10%;
}
.heading{
    width:59%;
    display:inline-block;
    font-size: 2em;
    font-weight: bolder;
}
#notification{
    display:block;
    text-align: center;
    margin-bottom:20px;
}
nav, #search{
    display:inline-block;
}
nav{
    width:100%;
    padding-left:38%;
    padding-bottom: 20px;
}
li{
    display:inline-block;
}
#search{
    margin-left:85%;
    border-radius: 15px;
}
.nationalService{
    width:50%;
    display:inline-block;
    border: 1px #000000 solid;
    padding-bottom: 10px;
}
.address{
    width:48%;
    height:160px;
    display:inline-block;
    border: 1px #000000 solid;
    vertical-align: top;
    padding:10px;
    margin-left:10px;
    
}
.find{
    width:48%;
    display:inline-block;
    border: 1px #000000 solid; 
    padding-bottom:10px;
}
.social-media{
    width:48%;
    display:inline-block;
    border: 1px #000000 solid;
    margin-top:10px;
}
.container{
    position:relative;
}
.find{
    position:absolute;
    top:180px;
    left:502px;
}
h2{
    font-size: x-large;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left:10px;
}
label{
    font-size: x-large;
    font-weight: bolder;
}
body{
    background-image: url("background.jpg");
}

