*{
    box-sizing:border-box;
}
.container{
    width:600px;
    height:600px;
    border: #000000 solid;
    margin:auto;
    background-color: #000000;
}
.part1{
    width:100%;
    height:72%;
    display:inline-block;
}
.sub{
    width:20%;
    height:100%;
    display:inline-block;
}
.one{
    width:100%;
    height:40%;
    border: #000000 solid;
    display:inline-block;
    background-color: #ffebcd;
}
.two{
    width:100%;
    height:59%;
    border: #000000 solid;
    display:inline-block;
    background-color: #ffebcd;
}
.three{
    width:79%;
    height:100%;
    border:#000000 solid;
    display:inline-block;
    background-color:#ff0000;
}
.part2{
    width:100%;
    height:27.8%;
    border:#000000 solid;
    display:inline-block;
}
.four{
    width:20%;
    height:100%;
    display:inline-block;
    border:#000000 solid;
    background-color: #0000ff;
}
.five{
    width:70%;
    height:100%;
    display:inline-block;
    border: #000000 solid;
    background-color: #ffebcd;
}
.six{
    width:8%;
    height:48%;
    display:inline-block;
    border:#000000 solid;
    background-color: #ffebcd;
    vertical-align: top;
}
.seven{
    width:8%;
    height:48%;
    display:inline-block;
    border:#000000 solid;
    background-color: #ffff00;
}
.part2{
    position:relative;
}
.seven{
    position:absolute;
    top:80px;
    left:91.2%;
}

