*{
    box-sizing: border-box;
}
#part1{
    width: 30%;
    display: inline-block;
}
#part2{
    width: 69%;
    display: inline-block;
    position: absolute;
    top:40px;
    left: 800px;
}
.container{
    width: 1000px;
    height: 600px;
    margin: auto;
    border: 1px black solid;
}
.article-1{
    width: 100%;
    height: 50%;
    display: inline-block;
}
.article-2{
    width:48%;
    height:50%;
    display: inline-block;
}
.article-3{
    width: 50%;
    height: 15%;
    display: inline-block;
    overflow: hidden;
    position: absolute;
    top:420px;
}
.article-3-image{
    width:30%;
    height:100%;
    display: inline-block;
    overflow:hidden;
}
.article-3-content{
    width:68%;
    height:100%;
    display: inline-block;
    overflow:hidden;
}
.article-4{
    width: 50%;
    height: 23%;
    display: inline-block;
    position: absolute;
    top: 550px;
}
.article-4-image{
    width:30%;
    height:100%;
    display: inline-block;
}
.article-4-content{
    width:60%;
    height:100%;
    display: inline-block;
    position: absolute;
    top: 0px;
}