*{
    box-sizing: border-box;
}
.container{
    width:1000px;
    height:900px;
    border:1px black solid;
    margin:auto;
    background-color: rgb(241, 212, 81);
}
.item1{
    display:inline-block;
    width:49%;
}
.item2{
    display:inline-block;
    width:49%;
}
h1{
    font-size: 3em;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    color: #ff0000;
}
header{
    background-color: #000000;
}
.info{
    width:40%;
    height:300px;
    display:inline-block;
    padding:10px;
    padding-left:25px;
}
.garageLocation{
    width:59%;
    height:300px;
    display:inline-block;
    padding-left:40px;
}
.itemSales{
    width:100%;
    height:50%;
    display:inline-block;
    padding:25px;
}
h3{
    font-size: xx-large;
    font-weight: bolder;
    color: #ff0000;
}
h2{
    color:#ff0000;
}
